.App {
}
@font-face {
  font-family: "LGEIHeadlineTTF-Thin";
  font-weight: 200;
  src: url("./fonts/LGEIHeadlineTTF-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "LGEIHeadlineTTF-Light";
  font-weight: 300;
  src: url("./fonts/LGEIHeadlineTTF-Light.ttf") format("truetype");
}
@font-face {
  font-family: "LGEIHeadlineTTF-Regular";
  font-weight: 400;
  src: url("./fonts/LGEIHeadlineTTF-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LGEIHeadlineTTF-Semibold";
  font-weight: 500;
  src: url("./fonts/LGEIHeadlineTTF-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "LGEIHeadlineTTF-Bold";
  font-weight: 600;
  src: url("./fonts/LGEIHeadlineTTF-Bold.ttf") format("truetype");
}
body {
  font-family: "LGEIHeadlineTTF-Regular";
}
button{cursor: pointer;}
.contbox{
  /* width:1782px; */
  border-radius: 8px;
  background: #FFF;
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.06);
  margin: 0 auto;
  

}
body {
  background: #F0EBE5;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
